.pageContent-list1{
    line-height: 66px;
    font-size: 14px;
    border-bottom: 1px solid #e6e6e6;
    padding-left: 50px;
}
.pageContent-list1 span{
    color: #afafaf;
}
.pageContent-list1 a{
    text-decoration: none;
    color: #333;
    padding: 10px;
    margin: 0 10px;
}
.pageContent-list1 a:hover{
    background-color: #29b078;
    color: #fff;
    border-radius: 3px;
}
.pageContent-list2{
    height: 58px;
    width: 907px;
    font-size: 16px;
    font-weight: bold;
    line-height: 58px;
    margin: 0 30px 12px 30px;
    color: #333;
    border-bottom: 1px solid #c0c0c0;
}
.pageContent-part1{
    position: absolute;
    top: 715px;
}
.pageContent-part2{
    position: absolute;
    top: 775px;
}
.pageContent-part3{
    position: absolute;
    top: 835px;
}
.pageContent-part4{
    position: absolute;
    top: 895px;
}