.login{
    height: 650px;
}
.login-img{
    float: left;
}
.login-img img{
    margin: 0 119px;
}
.login-box{
    width: 473px;
    height: 463px;
    border: 1px solid #ccc;
    float: left;
}
.login-box ul li{
    list-style: none;
    float: left;
    height: 48px;
    width: 236px;
    text-align: center;
    display: block;
    position: relative;
    line-height: 48px;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
}
.login-box ul li a{
    text-decoration: none;
    color: #999;
}
.login-box-content{
    margin: 48px 74px 0 74px;
    padding: 74px 0;
}
.login-box-content i{
    width: 45px;
}
.login-box-content input{
    height: 46px;
}