body{
    padding: 0;
    margin: 0;
    font-family: "Microsoft Yahei";
}
.wrap{
    width: 100%;
    max-width: 640px;
    height: 1130px;
    margin: 0 auto;
}
#nav{
    margin:0;
    color: #72d4eb;
    font-size: 3rem;
    background-color: white;
    padding:1% 5% 5% 0;
    position: absolute;
    top:63px;
    left:auto;
    max-width: 300px;
    width: 60%;
    display: none;
}
/*#nav {*/
    /*width: 63.75%;*/
    /*background-color: #ffffff;*/
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*/!*??????иж?иCиж????????ии??ии?????????????????*!/*/
/*}*/
/*#nav li {*/
    /*color: #29bde0;*/
    /*font-size: 3em;*/
    /*padding: 4.9% 0 4.9% 0;*/
    /*border-bottom: 1px solid #c9c9c9;*/
    /*text-indent: 24.5%;*/
    /*/!*иж?иCии?????ии??*!/*/
/*}*/
/*#nav li img {*/
    /*width: 5.88%;*/
    /*max-width: 24px;*/
    /*float: right;*/
    /*margin-right: 12.255%;*/
/*}*/
/*.voice {*/
    /*background: url(images/voice.jpg) no-repeat 8.33%;*/
    /*background-size: 9.8%;*/
/*}*/

/*.set {*/
    /*background: url(images/set.jpg) no-repeat 8.33%;*/
    /*background-size: 9.8%;*/
/*}*/

/*.help {*/
    /*background: url(images/help.jpg) no-repeat 8.33%;*/
    /*background-size: 9.8%;*/
/*}*/

/*.about {*/
    /*background: url(images/about.jpg) no-repeat 8.33%;*/
    /*background-size: 9.8%;*/
/*}*/
.header{
    background-color: #29BEDF;
    height: 11%;
    position: relative;
}
/*.header label{*/
    /*cursor: pointer;*/
/*}*/
.header img{
    position: absolute;
    left: 4%;
    bottom: 15%;
}
.middle{
    width: 100%;
    height: 89%;
    text-align: center;
    background-color: #F0F0F0;
    position: relative;
}
.nextGame{
    width: 90%;
    position: absolute;
    background-color: white;
    border: 1px solid #D3D3D3;
    margin-left: 5%;
    margin-top: 4%;
    padding: 5% 0;
}
.nextGame span{
    font-size: 200%;
    color: #9F9F9F;
}
.nextGame img{
    position: absolute;
    right: 2%;
    top: 20%;
}
.foot{
    width: 90%;
    position: absolute;
    background-color: white;
    border: 1px solid #D3D3D3;
    margin-left: 5%;
    margin-top: 25%;
}
.foot span{
    font-size: 200%;
    line-height: 300%;
}
.footone{
    border-bottom: 2px solid #fbb435;
}
.footone span{
    color: orange;
}
.footone hr{
    color: orange;
}
.footthree{
    background-color: #29BEDF;
    margin: 4% 10%;
    padding: 4% 0;
}
.footthree span{
    color: white;
}
.next{
    position: absolute;
    top: 44%;
    right: 2%;
}